/*===================== HIDDEN =====================*/
/*===================== HIDDEN =====================*/

/* Default
------------------------------------------------*/
	/*
	::-moz-selection {
    color: #fff;
    background: #ed1c24;
	}
	::selection {
    color: #fff;
    background: #ed1c24;
	}
	*/
	* {
		color: #333;
		font-family: "Segoe Ui",sans-serif,arial;
		font-size: 14px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	#admin-menu * ,
	#toolbar * {
		color: #fff;
	}
	html ,
	body {
		width: 100%;
		height: 100%;
	}
	body {
	}
	img {
		display: block;
		vertical-align: baseline;
	}
	p {
		margin-bottom: 8px;
	}
	ul {
		margin: 0;
		margin-bottom: 10px;
		padding:0;
		padding-left: 20px;
	}
	li {
		padding:0;
		margin: 0;
		margin-bottom: 3px;
	}
	li:last-child ,
	ul:last-child ,
	p:last-child {
		margin-bottom: 0 !important;
	}
	a:link ,
	a:visited ,
	a {
		color: #333 !important;
		text-decoration: none;
	}
	#admin-menu a:link ,
	#toolbar a:link ,
	#admin-menu a:visited ,
	#toolbar a:visited ,
	#admin-menu a ,
	#toolbar a {
		color: #fff !important;
	}
	#toolbar a:hover ,
	a:hover {
		color: #05519D !important;
	}
/*==============================================*/


/* header 
-----------------------------------------------------*/
/*===================================================*/


/* Content
-----------------------------------------------------*/
/*===================================================*/


/* Pre footer
-----------------------------------------------------*/
/*===================================================*/


/* Footer
-----------------------------------------------------*/
/*===================================================*/